*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: Arial, sans-serif;
} 
body{
   background: #548687; 
   text-align: center;
}  
h1{
    color: #ffffffd5;
}
.container{  
    margin-top: 3rem;
    height: 70vh;  
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
   
}  
.game{
    height: 60vmin; 
    width: 60vmin;  
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 1vmin;
}
.box{
    width: 18vmin; 
    height: 18vmin; 
    color: rgb(223, 12, 12); 
    border-radius: 1rem; 
    border: none;  
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size:8vmin; 
    background: #000;
} 
.resetBtn{  
    margin-top: 2rem;
    padding:  8px;
    height: 2.5rem;
    width: 9rem; 
    font-size: large; 
    background: #000; 
    color: #fff;  
    border-radius: 8px;
    border: none;
}  
.newBtn{
    padding:  8px;
    height: 2.5rem;
    width: 9rem; 
    font-size: large; 
    background: #000; 
    color: #fff;  
    border-radius: 8px;
    border: none; 
    margin-top: 1rem;
    margin-bottom: 1rem; 
} 
.msg{
    color: rgba(7, 237, 7, 0.945); 
    font-size: 8vmin; 
    margin-top: 2rem;
} 
.msg-container{
    height: 30vmin;  
    
} 
.hide{
    display: none;
}
